.App-title {
  font-size: 2em;
}

.App-logo {
  height: 100%;
}

.hero {
  margin-bottom: 5px;
}

.card {
  padding: 5px;
  margin:  0px 5px 5px 5px;
  border: 2px solid yellowgreen;
  border-radius: 1%
}
