.App-title {
  font-size: 2em;
}

.App-logo {
  height: 100%;
}

.hero {
  margin-bottom: 5px;
}

.card {
  padding: 5px;
  margin:  5px;
  border: 2px solid yellowgreen;
  border-radius: 1%
}

.wrapper {
  display: grid; 
  grid-gap: 1px;
  background-color: #fff;
  color: #444;
  margin-bottom: 1px;
}


.stitch {
  background-color: #444;
  color: #fff;
  padding: 1px;
  font-size: 100%;
}